.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  z-index: -1;
  position: relative;
}

.wave {
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: -915px;
}

.inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 2em 2em 2em 4.5em;
}

.links {
  align-self: flex-end;
}

@media (min-width: 720px) {
  .wave {
    left: -700px;
    top: 200px;
  }
}

@media (min-width: 960px) {
  .wave {
    left: inherit;
    top: inherit;
  }

  .inner {
    flex-direction: row;
    padding: 10em 5em;
  }
}
