.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  z-index: -1;
  position: relative;
}

.wave {
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  z-index: -1;
}

.inner {
  display: flex;
  justify-content: space-between;
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  padding: 80px 100px;
}

.links {

}
